.topic {
  font-size: 16px;
  font-weight: bold;
  color: #999;
}
.works-most-with {
  margin-top: 50px;
  margin-left: 10px;
}

.works-most-with h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.works-most-with ul {
  list-style: none;
  padding: 0;
}
.works-most-with li {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-right: 20px;
}
.works-most-with li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.works-most-with li p {
  font-size: 14px;
  margin: 0;
}